*{
    padding: 0;
    margin: 0;
    font-size: 40px;
font-family: "Anta", sans-serif;
font-weight: 400;
font-style: normal;
}
body{
    background-image:url("img/cool-background.png");
    display: fixed;
    background-repeat: no-repeat;
    background-size:1920px 1080px
}
header{
text-align: center;
color:rgb(54, 43, 53);
margin: 50px;
font-size: 40px;
font-family: "Anta", sans-serif;
font-weight: 400;
font-style: normal;

}

.scoreNames{
    display: flex;
    justify-content: space-around;
    
}
p{
    display:inline
}
.scoreNum{
    display: flex;
    justify-content: space-around;
    
}
.selection{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
button{
    border-radius: 20px;
    border: none;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
    background-color: rgb(223, 145, 0);
    padding: 10px;
    color: white;    
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
}
.movesTitles{
    margin: 100px;
    display: flex;
    justify-content: space-around;
}
.content{
    display: flex;
    justify-content: space-around;
}
.moves{
    display:flex;
    justify-content: space-around;
}
.moves img{
    width: 300px;
    height: 300px;
}


