*{
    padding: 0;
    margin: 0;
    font-size: 40px;
font-family: "Anta", sans-serif;
font-weight: 400;
font-style: normal;
}
body{
    background-image:url("img/cool-background.png");
    background-repeat: no-repeat;
    background-size:1920px 1080px
}
header{
text-align: center;
color:rgb(54, 43, 53);
margin: 50px;
font-size: 40px;
font-family: "Anta", sans-serif;
font-weight: 400;
font-style: normal;

}
.scoreNames p{
    margin: 45px 45px 45px 60px;
    padding: 0;
}
.scoreNum p{
    padding: 0;
    margin:0px 110px
}
.scoreNames, .scoreNum{
    border: 2px solid rgb(3, 3, 3);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 40px;
}
.score{
    display: flex;
    justify-content: center;
    font-family: "Anta", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 35px;
}
.selection{
    text-align: center;
    margin: 30px;
}
.selection button{
    width: 200px;
    height: 100px;
    margin: 20px;
    font-size: 40px;
    background-color: rgb(252, 218, 127);
    border-radius: 10px;
    cursor: pointer;
    transition:0.5s ease;
}
.selection button:hover{
    background-color: #FF04;
}
.moves{
    display: flex;
    justify-content: center;
    margin: 0;
}
.playerMoveImage,.computerMoveImage{
display: inline-block;  
}
.playerMoveImage img,.computerMoveImage img{
    max-width: 200px;
    max-height: 200px;
    margin: 0px 300px;
}
.movesTitles{
    text-align: center;   
    margin: 5px; 
}

.movesTitles span{
    padding: 200px;

    
}
